.profile-list {
    height: 407px;
    min-width: 250px;
    overflow-y: scroll;
    list-style: none;
    padding: 0 8px;
}

.profile-container {
    position: relative;
    margin-bottom: 10px;
    border-radius: 2px;
    transition: box-shadow .25s;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.profile-container:hover {
    transition: box-shadow .25s;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}

/* .profile-container:active {
    transition: box-shadow .25s;
    box-shadow: 0 0 10px #aaa inset;
} */

.profile {
    display: block;
    text-decoration: none;
    height: 48px;
    padding: 5px;
}

.profile-thumbnail {
    float: left;
    height: 100%;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-name {
    font-size: 16px;
    line-height: 42px;
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
