<div *ngIf="loading" class="spinner"></div>

<ol *ngIf="profiles && profiles.length" class="profile-list">
    <li class="profile-container" *ngFor="let profile of profiles; let i = index">
        <a href="{{ profile.uri }}" class="profile" (click)="goToPage(profile.uri)">
            <img class="profile-thumbnail" [attr.src]="profile.thumbSrc">
            <div class="profile-name">
                {{ profile.name }}
            </div>
        </a>
        <span *ngIf="i < numbers.length" [innerHTML]="numbers[i] | safeHtml"></span>
    </li>
</ol>

<!-- <a *ngIf="!loading" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9HM7L5KDAM3NL" class="donation-link"
    (click)="goToPage('https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9HM7L5KDAM3NL')">
    <span [innerHTML]="donateButton | safeHtml"></span>
</a> -->
