@import "../node_modules/ng2-toastr/ng2-toastr.css";

body {
    margin: 0;
    min-height: 85px;
    min-width: 250px;
    animation: fadeIn 2s;
}

.bold {
    font-weight: bold;
}

.number {
    width: 28px;
    position: absolute;
    top: 10px;
    right: 0;
    opacity: 0.3;
}

.number > .st0,
.number > .st1 {
    fill: #333333;
}

.st3 {
    fill: none;
}

.donation-link {
    position: fixed;
    bottom: 0;
    right: 3px;
    width: 135px;
}

.spinner {
    margin: 20% auto;
    width: 30px;
    height: 30px;
    border: 6px solid rgba(10, 10, 10, 0.5);
    border-left-color: rgba(30, 30, 30, 0.5);
    border-bottom-color: rgba(50, 50, 50, 0.5);
    border-right-color: transparent;
    border-radius: 100%;
    animation: spin 600ms infinite linear; /* Refresh rate is 600ms */
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
